<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @assistant.name %>
</p>

<p>
  <b>Twitter:</b>
  <%= @assistant.twitter %>
</p>


<ul>
	<% @assistant.gifts.each do |gift| %>
<li><%= gift.name%></li>
	<%end%>
</ul>

<%= link_to 'Edit', edit_assistant_path(@assistant) %> |
<%= link_to 'Back', assistants_path %>
